@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

.outerGrid{
    height: 400px;
    width: 400px;
    background-color: #a99d9d;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    border-radius: 5px;
    padding-top: 15px;
}

.smallBox{
    height: 80px;
    width: 80px;
    background-color: #e0d9d8;
    margin: 7px;
    color: #716767;
    font-size: 35pt;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-family: 'Supermercado One', cursive;
    
}

.newgame{
    text-align: center;
}

.newgameBtn{
    margin-top: 5vh;
    font-family: 'Merriweather', serif;
    border-radius: 5px;
    border: none;
    font-size: 13pt;
    padding: 10px;
    background-color: #a99d9d;
    color: white;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 3px;
}

.newgameBtn:hover{
    background-color: white;
    color: #a99d9d;
    border: 3px solid #a99d9d;
    transition: 0.3s ease-out;
}

.score{
    /* margin-top: 1vh; */
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 15pt;
}

.highscore{
    margin-top: 1vh;
    margin-bottom: 5vh;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 15pt;
}

.cls2048{
    font-family: 'Short Stack', cursive;
    font-size: 40pt;
    font-weight: bold;
    margin-top: 2vh;
    margin-left: 2vw;
}